################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/Tester/x64/Debug
/Tester/x64/Release
/PySolidFEM/x64/Release
/SolidFEMapp/x64/Release
/SolidFEMapp/SolidFEMapp.vcxproj.user
*.png
/PySolidFEM/x64/Debug
/PyTester/__pycache__/Simulator.cpython-37.pyc
*.pyc
/SolidFEMapp/x64/Debug
